# Input and Output

# Files

Python uses a file object to interact with the files on your disk drive

In [1]:
ls

01a_jupyter_notebooks.ipynb  02b_input_and_output.ipynb  Untitled1.ipynb
01b_fundamentals.ipynb	     'Notebook Basics.ipynb'	 data/
02a_dataframes.ipynb	     Untitled.ipynb		 images/

In [2]:
file = open('data/test.txt')

In [3]:
file.read()

In [4]:
file.read()

In [5]:
file.seek(0)

In [6]:
file.read()

In [7]:
file.seek(0)

In [8]:
file.readlines()     # stores list entirely in memory. Could be problematic

In [9]:
%%writefile new.txt
First line
Second line

In [10]:
for line in open('new.txt'):
    print line

## Print Formatting

We've already seen the print command.

In Python 3, print is actually a function not a statement

In [11]:
print 'This is a string'

This is a string

In [12]:
x = 'String'

print 'Place my variable here: ' + x

Place my variable here: String

In [13]:
x = 'String'

print 'Place my variable here: %s' %(x)

Place my variable here: String

In [14]:
x = 123.45

print 'Place my variable here: %s' %(x)

Place my variable here: 123.45

In [15]:
print 'Floating point number: %1.2f' %(13.145)

Floating point number: 13.14

In [16]:
print 'Floating point number: %1.3f' %(13.145)

Floating point number: 13.145

In [17]:
print 'Floating point number: %1.1f' %(13.145)

Floating point number: 13.1

In [18]:
print 'Floating point number: %1.10f' %(13.145)

Floating point number: 13.1450000000

In [19]:
print 'Floating point number: %25.10f' %(13.145)

Floating point number:             13.1450000000

## Conversion Format Methods

* Convert to string

In [20]:
print 'Convert to string %r' %(123)

Convert to string 123

In [21]:
print 'First; %s, Second: %s, Third: %s' %('hi!', 'two', 3)

First; hi!, Second: two, Third: 3

In [22]:
print 'First; %s, Second: %s' %(2,2)

First; 2, Second: 2

In [23]:
print 'First: {x} Second: {x}'.format(x='inserted')

First: inserted Second: inserted

In [24]:
print 'First: {x} New: {y} Second: {x}'.format(x='inserted', y = 'two')

First: inserted New: two Second: inserted

## References
1. [Python Formatting](https://pyformat.info)