In [1]:
import pandas as pd
import numpy as np

np.arrays = [['one','one','one','two','two','two'],[1,2,3,1,2,3]]

df = pd.DataFrame(np.random.randn(6,2),index=pd.MultiIndex.from_tuples(zip(*np.arrays)),columns=['A','B'])

df  # This is the dataframe we have generated

zip(*np.arrays)

[('one', 1), ('one', 2), ('one', 3), ('two', 1), ('two', 2), ('two', 3)]

In [2]:
df

              A         B
one 1 -2.059443 -0.322884
    2  0.910196 -0.643082
    3 -0.234910  1.410622
two 1  0.804939 -0.172824
    2 -0.257839  0.266328
    3  0.073885  0.546272

In [3]:
df.count()

A    6
B    6
dtype: int64

In [4]:
df.loc['one']

          A         B
1 -2.059443 -0.322884
2  0.910196 -0.643082
3 -0.234910  1.410622

In [5]:
df.loc[('two', 3)]

A    0.073885
B    0.546272
Name: (two, 3), dtype: float64

In [6]:
df.loc[:,'A']

one  1   -2.059443
     2    0.910196
     3   -0.234910
two  1    0.804939
     2   -0.257839
     3    0.073885
Name: A, dtype: float64

In [7]:
df.iloc[1]

A    0.910196
B   -0.643082
Name: (one, 2), dtype: float64

In [8]:
df.iloc[2][0]

-0.23491028223490487

In [9]:
df.ix['one'].ix[1]

A   -2.059443
B   -0.322884
Name: 1, dtype: float64

-----------

In [10]:
df.loc[:,'A'] + df.loc[:,'B']

one  1   -2.382327
     2    0.267114
     3    1.175712
two  1    0.632115
     2    0.008489
     3    0.620157
dtype: float64

----

In [11]:
df2 = pd.DataFrame(np.random.randn(6,2))
df2[2] = 9
df2[df2 != 0]

          0         1  2
0 -0.438624 -0.793094  9
1  0.039610  0.043810  9
2  0.282164 -1.097133  9
3  1.306262 -1.302416  9
4 -0.621465  2.216416  9
5 -0.844245 -0.343355  9

In [12]:
df2[df2[2] != 0]

          0         1  2
0 -0.438624 -0.793094  9
1  0.039610  0.043810  9
2  0.282164 -1.097133  9
3  1.306262 -1.302416  9
4 -0.621465  2.216416  9
5 -0.844245 -0.343355  9